* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgb(27, 27, 27), rgb(7, 7, 7));
    color: rgb(23, 250, 129);
    font-family: 'Consolas', monospace;

    display: grid;
    place-items: center;
}

#clock-display {
    margin-top: -16rem;

    font-size: 400%;
    font-weight: 700;
}
